.hero-unit{
	padding: 10px!important;
}
.hero-unit, .alert-warn {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.quranpage{
	text-align: right;
}
.ayahsarea{
	max-height:600px;
	overflow: auto;
}
.qurantext{
	font-size: 2em;
	line-height: 1.5;
}

.align-left{
	text-align: left!important;
}

.pageDD{
	width: 70px!important;
}

.letterDD{
	width: 70px!important;
}
.indexDD{
	width: 60px!important;
}
.lineheight{
	line-height: 1.8;
}