.hero-unit{
	padding: 10px!important;
}
.hero-unit, .alert-warn {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.quranpage{
	text-align: right;
}
.stagearea{
	max-height:600px;
	min-height:500px;
	overflow: auto;
}
.qurantext{
	font-size: 2em;
	line-height: 1.5;
}

.align-left{
	text-align: left!important;
}

.pageDD{
	width: 70px!important;
}

.letterDD{
	width: 70px!important;
}
.indexDD{
	width: 60px!important;
}
.lineheight{
	line-height: 1.8;
}

body .modal {
  height: 580px;
  width: 90%; /* desired relative width */
  left: 5%; /* (100%-width)/2 */
  margin: auto auto auto auto; /* place center */
}
body .modal.fade.in {
  top: 5%; /* fade in to correct spot */
}
.modal-body{
  max-height: 520px!important;
 }
.iframe1{
	height: 367px; width:100%;
}
.viewfull{
	--padding: 2px 6px!important;
}

.max-height{
max-height: 110px;
overflow: auto;
}



.statusHeading{
	padding-bottom: 10px;
}
span.status a {
	padding: 2px 2px 0px 2px;
	text-align: center;
	border: solid gray 1px;
	width: 25px;
	height: 18px;
	display: block;
	float: left;
	margin: 1px;
	font-size: 12px;
	text-decoration: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	color: white!important;
}

span.status a, span.status a:hover, .status_h_50, .status_h_50:hover {
background-color: #faa732; //#FAFF31; //yellow
color: black;
}

span.status a.true, span.status a.true:hover, .status_h_75, .status_h_75:hover {
background-color: #91BF4B; //green
color: white!important;
}

span.status a.false, span.status a.false:hover, .status_h_25, .status_h_25:hover {
background-color: #BB312F; //maroon
color: white!important;
width: auto!important;
}

span.status a.partial{
width: auto!important;
}

span.status a.true span{
	display: none;
}