.hero-unit{
	padding: 10px!important;
}
.hero-unit, .alert-warn {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}
.quranpage{
	text-align: right;
}
.stagearea{
	max-height:600px;
	overflow: auto;
}
.qurantext{
	font-size: 2em;
	line-height: 1.5;
}

.align-left{
	text-align: left!important;
}

.pageDD{
	width: 70px!important;
}

.letterDD{
	width: 70px!important;
}
.indexDD{
	width: 60px!important;
}
.lineheight{
	line-height: 1.8;
}

body .modal {
  height: 580px;
  width: 90%; /* desired relative width */
  left: 5%; /* (100%-width)/2 */
  margin: auto auto auto auto; /* place center */
}
body .modal.fade.in {
  top: 5%; /* fade in to correct spot */
}
.modal-body{
  max-height: 520px!important;
 }
.iframe1{
	height: 440px; width:100%;
}
.viewfull{
	--padding: 2px 6px!important;
}