<div class="container-fluid">
  <div class="row-fluid">
	<div class="span12">
		<div ng-include src="'partials/status.html'"></div>
	</div>
  </div>
</div>

<script type="text/ng-template" id="partials/status.html">	<!-- {{pageStatus}} -->
	<H4>Pages translation status</H4>
	<div ng-repeat="key in letters" style="clear:both;"><HR>
		<div ng-bind="lettersLong[$index] + '  ('+key+')'" class="muted statusHeading" style="font-size: 2em;"></div>
		<span ng-init="value = pageStatus[key]"></span>
		<span ng-repeat="item in value.split(' ')">			<!-- {{item}} ... -->
			<span ng-init="range = getRange(item)" class="status">
				<a ng-repeat="box in range.data" ng-init="o = {pg: box, isDone: range.isDone, l: key, i: 1+$index}" 
				   ng-click="click(o)" ng-mouseover="mouseover(o)" class="{{range.isDone}}">{{box}}</a>
			</span>
		</span>
		<BR/>
	</div>
	
</script>