<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<html lang="en" ng-app="myApp" ng-controller="ayahsController">
<head>
  <meta charset="utf-8">
  <title ng-bind="'Mutaradifaat ul Qur\'an'"> بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ Mutaradifaat al Qur'an Translation Project</title>
	<!-- CSS Files -->
	<link type="text/css" href="css/base.css" rel="stylesheet" />
	<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="css/bootstrap-responsive.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/appnew.css"/>
<!--	<link type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" />-->
	<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
</head>


<script type="text/ng-template" id="partials/hero-unit.html">
  <div class="hero-unit">
	<H3>
		<span title="In the name of Allah , the Entirely Merciful, the Especially Merciful">بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ </span>&nbsp;&nbsp;
		<A HREF=".">Mutaradifaat al Qur’an Translation Project</A>&nbsp;&nbsp;
		<A HREF="http://linguisticmiracle.wordpress.com/2012/09/04/mutaradifaat/" TARGET="_"><i class="icon-info-sign"></i></A>
	</H3>
	<img ng-show="false" id="banner" src="img/quransynonyms-banner.jpg"/>
  </div>
</script>

<script type="text/ng-template" id="partials/msie-error.html">
	<div id=IE-ERRROR class="alert alert-error" style="display:none;z-index:10;">
		Note: <b>having issues using this app in Internet Explorer?</b> Please retry in Google Chrome or Firefox browser (our main test browsers). <BR/>We apologize for the inconvenience.
	</div>
</script>


<script type="text/ng-template" id="partials/synonymsContent.html">
	<div>
		<div ng-show="suras.refs" class="xpull-left align-left well well-small clearfix max-height">
			<span ng-bind="'Synonym: '"></span>
			<span ng-bind="getSynonym( getID() )" title="{{getID()}}" class="label label-success"></span> 
			<span ng-bind="'('+getID()+')'" class="muted"></span>&nbsp; has ayahs: | &nbsp;

			<span ng-repeat="ref in findSurasForTopic( getID() ).refs">
				<A ng-click="setRef(ref)"><span ng-show="ref" ng-bind="ref" class="label label-info"></span></A>
			</span>

			<span ng-show="suras.suras" class='lineheight'>
				<span ng-bind="' | Suwaar: | '"></span>
				<span ng-repeat="sura in findSurasForTopic( getID() ).suras">
					<A ng-click="setRef(sura+':1')"><span ng-bind="sura +': '+ suraNames[ sura ]" class="label label-warn"></span></A>
				</span>
			</span>
		</div>
	</div>
</script>


<body>
	<div class="container-fluid">
	  <div class="row-fluid">	
		<div class="span12 span-fixed-sidebar stagearea">
			<div ng-include src="'partials/msie-error.html'">
			</div>
			<div ng-include src="'partials/hero-unit.html'">
			</div>			
			<!--<div id=WIP class="alert alert-warn">
				<span class=muted>Disclaimer:</span> <b>Work-in-progress; <u>Content still under review</u>. </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span class=muted>Note:</span> <b>site issues?</b> refresh browser few times; Site updated often.
			</div>-->
		</div>
	  </div>

	  <div class="row-fluid">
		<div class="span6" id=topics>
			<gcse:search></gcse:search><BR/>
			
			<span ng-init="id=getID()"></span>
			<span ng-init="page=67"></span>
			<span ng-init="suras = findSurasForTopic( getID() )"></span>

			<div id="IDContentOuter" class="align-left well well-small clearfix">
			  <H4>
				<div class="pull-right">Section: <select 
					ng-model="ltr" required 
					ng-change="setID(letters[ltr] + '1')"
					ng-options="value.id as value.label group by value.group for value in lettersDD">
					<option>--</option>
				  </select>
				</div>
				<ul class="pager clearfix" style="margin: 0!important;">
				  <li><a href="#" ng-click="setID( getNextID(getID(), -1) )">Previous</a></li>
				  Translation
				  <li><a href="#" ng-click="setID(  getNextID( getID() ) )">Next</a></li>
				</ul>
				<!-- Button to trigger modal -->
				<a href="#myModal" role="button" class="pull-right btn btn-mini viewfull" data-toggle="modal">view full screen</a>
				<!-- Modal -->
				<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<div class="pull-right">Section: <select 
						ng-model="ltr" required 
						ng-change="setID(letters[ltr] + '1')"
						ng-options="value.id as value.label group by value.group for value in lettersDD">
						<option>--</option>
						</select>&nbsp;&nbsp;
					</div>
					<ul class="pager clearfix" style="margin: 0!important;">
						  <li><a href="#" ng-click="setID( getNextID(getID(), -1) )">Previous</a></li>
						  Translation
						  <li><a href="#" ng-click="setID(  getNextID( getID() ) )">Next</a></li>
					</ul>
				  </div>
				  <div class="modal-body">
					<div ng-include src="'partials/synonymsContent.html'"></div>
					<span ng-bind="getIDUrl()" style="display: none;"></span>			  
					<div id="NOTRANSLATION" class="alert alert-error" style="display: none">
					This topic's not yet been translated. Please check back later or <A HREF=mailto:linguisticmiracle@gmail.com>volunteer as a translator</A>.
					</div>
					<div class="clearfix well well-small iframe1 xpull-left" id="IDContentModal"></div>
				  </div>
				  <div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				  </div>
				</div>
			  </H4>
			  <div ng-include src="'partials/synonymsContent.html'"></div>
			  <span ng-bind="getIDUrl()" style="display: none;"></span>			  
			  <div id="NOTRANSLATION" class="alert alert-error" style="display: none">
			This topic's not yet been translated. Please check back later or <A HREF=mailto:linguisticmiracle@gmail.com>volunteer as a translator</A>.
			  </div>
			  <div class="clearfix well well-small stagearea xpull-left" id="IDContent"></div>
			</div>
			
			<div id=WIP class="alert alert-warn">
				Refresh page if any issues. &nbsp;&nbsp;&nbsp;   
				<span class=muted>Disclaimer:</span> <b>Work-in-progress; <u>Content still under review</u>.</b>
			</div>
		</div>
		<div class="span6">
		  <div class="align-left well well-small lineheight max-height">
			<span Xng-show="topics && sura" ng-bind="'Surah ' "></span>
			<select
				ng-model="sura" required 
				ng-change="setSura(sura)"
				ng-options="value.id as value.label group by value.group for value in suwar">
				<option>--</option>
			</select>
			has synonyms: 
			<span Xng-show="topics" ng-repeat="topic in getTopics()">
				<A ng-click="setID(topic)">
					<span ng-show="topic" ng-bind="getSynonym( topic )" class="label label-success"></span>
				</A>
			</span>
			<span ng-show="!getTopics()" ng-bind="'-none-'"></span>
		  </div>

		  <div id="myCarousel" class=" carousel slide clearfix">
			<!-- Carousel items -->
			<div class="carousel-inner stagearea">
				<div class="active item">
					<div class=well well-small>
					<H4>Book view (urdu - Mutaradifaat al-Qur'aan):</H4>
					<IFRAME ng-show="page" STYLE="height:680px;width:95%;"
					ng-src="{{getUrduBookUrl()}}"></IFRAME>
					</div>
				</div>
				<div class="item">
					<div class=well well-small>
					<H4>Quran view:</H4>
					<div ng-include src="'partials/quran-template.html'"></div>
					</div>
				</div>
				<div class="item">
					<div class=well well-small>
					<H4>Quran view (Tafseer Maariful Quraan):</H4>
					<span ng-init="book1 = true" ng-show="book1" ng-click="book1 = !book1; _html1 = '<IFRAME src=' + getBookUrl('MaarifulQuraan', '#book1') +'></IFRAME>'; $('#book1').html(_html1);" class="btn btn-large">
					  <img src="data/misc-icons/MaarifulQuran.jpg" class="img-polaroid" style="width: 140px; height: 180px;"><BR>
					  Click to load. 
					</span>
					<span ng-show="!book1" id="book1"></span>
					
					</div>
				</div>
				<div class="item">
					<div class=well well-small>
					<H4>Quran view (Asbab Al Nuzul):</H4>
					<span ng-init="book2 = true;" ng-show="book2" ng-click="book2 = !book2;_html2 = '<IFRAME src=' + getBookUrl('AsbabAlNuzul', '#book2') +'></IFRAME>'; $('#book2').html(_html2);" class="btn btn-large">
					  <img src="data/misc-icons/Asbab.jpg" Mutaradifaat.jpg class="img-polaroid" style="width: 140px; height: 180px;"/><BR>
					  Click to load. 
					</span>
					<span ng-show="!book2" id="book2"></span>
					
					</div>
				</div>
				<div class="item">
					<div ng-include src="'partials/topics.html'"></div>
				</div>
				<div class="item">
					<div ng-include src="'partials/words.html'"></div>
				</div>
				<div class="item">
					<div ng-include src="'partials/pics.html'"></div>
				</div>
				<div class="item">
					<div ng-include src="'partials/statusnew.html'"></div>
				</div>
			</div>
			<!-- Carousel nav -->
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		  </div>
		  
	    <HR/><BR><div id="disqus_thread"></div>
		</div>
	  </div>
	</div>

	<script type="text/ng-template' id="partials/topic-modal.html">		 
		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Modal header</h3>
		  </div>
		  <div class="modal-body">
			<p><IFRAME ng-show="getIDUrl()" class="clearfix" STYLE="height:680px;width:95%;"
					ng-src="{{getIDUrl()}}"></IFRAME></p>
		  </div>
		  <div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		  </div>
		</div>
	</script>
	
	<script type='text/ng-template' id="partials/quran-template.html">
	  <div dir=rtl class="clearfix">
	   <div ng-show="qurandata" ng-repeat="pageno in [0]" dir="rtl" class="quranpage well well-small">
		<div ng-repeat="(key, verse) in getQuranData(pageno)" dir=rtl class="quranayah">
		  <div ng-init="ref = verse.surah + ':' + verse.ayah" id="{{verse.surah + '_' + verse.ayah}}" class="{{($first && 'first')||'' + ($last && 'last')||''}}">
			<span ng-bind="'['+ ref +']'" class="label label-info"></span>
			<span ng-bind="verse.verse" class="qurantext">
			</span><BR/>
			<span ng-bind="getQuranTrans()[key].verse">
			</span>
			<span Xng-show="refTopics" ng-repeat="topic in getRefTopics(ref)">
				<A ng-click="setID(topic)">
					<span ng-show="topic" ng-bind="getSynonym( topic )" class="label label-success"></span>
				</A>
			</span>
			<HR>
			<div ng-show="$last"><A ng-click="setRef( verse.surah, verse.ayah )" class="btn btn-mini">Next page</A>
			</div>
		  </div>
		</div>
	   </div>
	  </div>
	</script>

	<!-- Le javascript
    ================================================== -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<!--  <script src="lib/angular/angular.min.js"></script> -->
  <script src="js/app.js"></script>
<!--  <script src="js/mapper.js"></script>-->
  <script src="js/jquery-1.8.2.min.js"></script>
  <script src="js/underscore-min.js"></script>
<!--  <script src="js/bootstrap.min.js"></script> -->
  <script src="controllers/ayahsController.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>
  <script type="text/javascript">
	$(document).ready(function() {
	   if ($.browser.msie) {
		 alert('Internet Explorer browser is not fully supported. Please retry in Chrome or Firefox, if you have issues. We apologize for the inconvenience. \n\nAnother option, if you wish to stick to Internet Explorer, is to click OK & activate Google Frame on next screen.');
		 $('#IE-ERRROR').show();// create the error box here
		 $('#IE-ERROR').attr('style', 'z-index:1!important');
	   }
	});
  </script>
<script>
  (function() {
    var cx = '006391315213758694463:qblgpzxzocy';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37463733-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	var disqus_shortname = 'qurandev'; // required: replace example with your forum shortname

	/* * * DON'T EDIT BELOW THIS LINE * * */
	(function() {
		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <!--[if IE]>
    <script type="text/javascript" 
     src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

    <style>
     .chromeFrameInstallDefaultStyle {
       width: 100%; /* default is 800px */
       border: 5px solid blue;
     }
    </style>

    <div id="prompt">
     <!-- if IE without GCF, prompt goes here -->
    </div>
 
    <script>
     // The conditional ensures that this code will only execute in IE,
     // Therefore we can use the IE-specific attachEvent without worry
     window.attachEvent("onload", function() {
       CFInstall.check({
         mode: "inline", // the default
         node: "prompt"
       });
     });
    </script>
  <![endif]-->
</body>
</html>
