<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title> بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ Mutaradifaat al Qur'an Translation Project</title>
  <link rel="stylesheet" href="css/app.css"/>
	<!-- CSS Files -->
	<link type="text/css" href="css/base.css" rel="stylesheet" />
	<link type="text/css" href="css/bootstrap.css" rel="stylesheet" />
	<link type="text/css" href="css/bootstrap-responsive.css" rel="stylesheet" />
<!--	<link type="text/css" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" />-->
	<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
</head>


<script type="text/ng-template" id="content/urlrouter.html">
	<!--<div ng-include src="templateUrl" style="text-align: left!important; background-color: beige; border-style: dotted; border-width: 1px; padding: 8px; border-radius: 8px;">
	</div>-->
	<div ng-switch on="templateUrl != null" style="text-align: left!important; background-color: beige; border-style: dotted; border-width: 1px; padding: 8px; border-radius: 8px;">
      <div ng-switch-when="true" ng-include src="templateUrl"></div>
	  <!--<div ng-switch-when="false" ng-include="'partials/index.html'"></div>-->
	  <div ng-switch-when="false" ng-include="'content/A/A1.html'"></div>
    </div>
</script>


<script type="text/ng-template" id="partials/index.html">
	<div class="container-fluid">
	  <div class="row-fluid">
		<div class="span3">
			<div ng-include src="'partials/bookcontents.html'"></div></div>
		<div class="span3">
			<div ng-include src="'partials/topics.html'"></div></div>
		<div class="span3">
			<div ng-include src="'partials/roots.html'"></div>
		</div>
	  </div>
	</div>
</script>


<script type="text/ng-template" id="partials/bookcontents.html">
  <div style="width: 270px;overflow:auto;">
	<TABLE class="table table-striped table-bordered table-condensed table-hover" style="width:95%; margin-top:5px;">
	  <THEAD ng-show="(synonymsindex | filter:synonymsindex_keyword).length > 0">
		<tr><TH>#</TH><TH>Synonym section #</TH><TH># of topics</TH><TH>pg#</TH></tr>
	  </THEAD>
	  <TBODY>
		<tr ng-repeat="item in synonymsindex"  ng-click="tableRowClicked(synonym, $index)">
			<td ng-bind="1 + $index"></td>
			<td ng-bind="item.l"></td>
			<td ng-bind="item.n"></td>
			<td ng-bind="item.pg"></td>
		</tr>
	  </TBODY>
	</TABLE>
  </div>
</script>


<script type="text/ng-template" id="partials/topics.html">
  <div style="width: 240px;overflow:auto;">
	<input type=text ng-model="topic_keyword" ng-change="change()" class="search-query" placeholder="Search topics..." style="width:85%;align:center;margin-bottom:11px;" />
	<TABLE class="table table-striped table-bordered table-condensed table-hover" style="width:95%">
	  <THEAD ng-show="(topics | filter:topic_keyword).length > 0">
		<tr><TH>#</TH><TH>Topic</TH></tr>
	  </THEAD>
	  <TBODY>
		<tr ng-repeat="item in (topics | filter:topic_keyword)"  ng-click="tableRowClicked(synonym, $index)">
			<td ng-bind="1 + $index"></td>
			<td ng-bind="item"></td>
		</tr>
	  </TBODY>
	</TABLE>
  </div>
</script>

<script type="text/ng-template" id="partials/roots.html">
  <div style="width: 240px;overflow:auto;">
	<input type=text ng-model="root_keyword" ng-change="change()" class="search-query" placeholder="Search roots..." style="width:85%;align:center;margin-bottom:11px;" />
	<TABLE class="table table-striped table-bordered table-condensed table-hover" style="width:95%">
	  <THEAD ng-show="(roots | filter:root_keyword).length > 0">
		<tr><TH>#</TH><TH>Root</TH></tr>
	  </THEAD>
	  <TBODY>
		<tr ng-repeat="item in (roots | filter:root_keyword)"  ng-click="tableRowClicked(synonym, $index)">
			<td ng-bind="1 + $index"></td>
			<td><!--<span ng-bind="EnToAr( synonymdetail.root )" class=arabic></span>-->
				<span class="muted" ng-show="!item">-</span>
				<span class="arabicsmaller" ng-show="item">
				  <A HREF="http://corpus.quran.com/search.jsp?q=root:{{item}}" TARGET=_>
					<span class=r0 ng-bind="EnToAr(item[0])"></span>&zwnj;<span class=r1 ng-bind="EnToAr(item[1])"></span>&zwnj;<span class=r2 ng-bind="EnToAr(item[2])"></span>&zwnj;<span class=r3 ng-bind="EnToAr(item.substring(3))"></span>
				  </A>
				</span>
			</td>
		</tr>
	  </TBODY>
	</TABLE>
  </div>
</script>


<script type="text/ng-template" id="partials/mode.html">
	mode: {{mode}}
	<TABLE class="table table-striped table-bordered table-condensed table-hover">
	  <THEAD ng-show="(synonymsindex | filter:input).length > 0">
		<tr><TH>#</TH><TH>Synonym topic</TH><!--<TH>topic (urdu)..</TH>--><TH>pg#</TH><!--<TH title='# of synonyms for this topic'>..</TH><TH>&nbsp;</TH><TH>&nbsp;</TH>--></tr>
	  </THEAD>
	  <TBODY>
		<tr ng-repeat="item in synonymsindex"  ng-click="tableRowClicked(synonym, $index)">
			<td ng-bind="item.l"></td>
			<td ng-bind="item.n"></td>
			<td ng-bind="item.pg"></td>
		</tr>
	  </TBODY>
	</TABLE>
</script>

<script type="text/ng-template" id="partials/index1.html">
  <div id="index1outer">
	<p ng-show="!!input && (synonyms | filter:input).length==0"  class="alert alert-warn">There are no Synonym entries.</p>
	<div ng-show="(synonyms | filter:input).length > 0"  class="heading alert alert-success">
	<span ng-bind="( synonyms | filter:input ).length"  class="badge badge-info"></span> 
	<abbr title='View Synonyms translated from the book.'><b>Synonyms</b></abbr>
	<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" title="Previous page" class="btn btn-mini"><i class="icon-chevron-left"></i></button>
	<span class="badge badge-inverse" ng-bind="currentPage+1"></span> / 
		 <span class="badge" ng-bind="numberOfPages(  ( synonyms | filter:input ).length  )"></span>
	<button ng-disabled="currentPage >= (synonyms | filter:input).length/pageSize - 1" title="Next page" ng-click="currentPage=currentPage+1" class="btn btn-mini"><i class="icon-chevron-right"></i></button>
	</div>
	<div id=index1>
	 <TABLE class="table table-striped table-bordered table-condensed table-hover">
	  <THEAD ng-show="(synonyms | filter:input).length > 0">
		<tr><TH>#</TH><TH>Synonym topic</TH><!--<TH>topic (urdu)..</TH>--><TH>pg#</TH><!--<TH title='# of synonyms for this topic'>..</TH><TH>&nbsp;</TH><TH>&nbsp;</TH>--></tr>
	  </THEAD><TBODY>
		<tr ng-repeat="synonym in synonyms | filter:input | orderBy:orderProp | startFrom:currentPage*pageSize | limitTo:pageSize"  ng-click="tableRowClicked(synonym, $index)">
			<td><small><span ng-bind="1 + $index + currentPage*pageSize " title="{{synonym.id  +'  '+ (synonym.count || '-') + ' words' }}" class="muted"></span></small></td>
			<!--<td><small><A HREF="#{{synonym.id}}"><span ng-bind="synonym.id" class="muted"></span></A></small></td>-->
			<td><A HREF="#{{synonym.id}}">
					<span class="label label-inverse" ng-bind="synonym.topic"></span>&nbsp;&nbsp;
					<span class="small" ng-bind="synonym.topicUr.toLowerCase()"></span>
					<span class="arabicsmaller" dir="rtl" ng-bind="getSynonymDetails( synonym.id )"></span>
				</A>
			</td>
			<!--<td><A HREF="#{{synonym.id}}"><span ng-bind="synonym.topicUr.toLowerCase().substring(0,12) + '…'" title="{{synonym.topicUr}}" class="muted"></span></A></td>-->
			<td><A HREF="#{{synonym.id}}"><span ng-bind="synonym.pg || '-'" class="muted"></span></A></td>
			<!-- <td><A HREF="#{{synonym.id}}"><span ng-bind="synonym.count || '-'" class="muted"></span></A></td> -->
		</tr>
	  </TBODY>
	 </TABLE>
	</div>
  </div>
  <!-- /#index1outer -->
</script>


<script type="text/ng-template" id="partials/index2.html">
	<div id="index2outer">
	   <p ng-show="!!input && (synonymdetails | filter:input).length==0"  class="alert alert-warn">There are no Synonym entries.</p>
	   <div ng-show="(synonymdetails | filter:input).length > 0"  class="heading alert alert-info">
		<b><span ng-bind="( synonymdetails | filter:input ).length" class="badge badge-info"></span> words</b> 
		<button ng-disabled="currentPageForDetails == 0" ng-click="currentPageForDetails=currentPageForDetails-1" title="Previous page" class="btn btn-small"><i class="icon-chevron-left"></i></button>
		<span class="badge badge-inverse" ng-bind="currentPageForDetails+1"></span> / 
			 <span class="badge" ng-bind="numberOfPagesForDetails(  ( synonymdetails | filter:input ).length  )"></span>
		<button ng-disabled="currentPageForDetails >= (synonymdetails | filter:input).length/pageSize - 1" title="Next page" ng-click="currentPageForDetails=currentPageForDetails+1" class="btn btn-small"><i class="icon-chevron-right"></i></button>
	   </div>
	   <div id=index2>
	     <TABLE class="table table-striped table-bordered table-condensed  table-hover">
		  <THEAD ng-show="(synonymdetails | filter:input).length > 0">
			<tr><TH>#</TH><TH>Synonym</TH><TH>Translit..</TH><TH>Root</TH><!--<TH>&nbsp;</TH><TH>&nbsp;</TH><TH>&nbsp;</TH>--></tr>
		  </THEAD><TBODY>
			<tr ng-repeat="synonymdetail in synonymdetails | filter:synonymDetailSelected | filter:input | orderBy:orderProp | startFrom:currentPageForDetails*pageSize | limitTo:pageSize" ng-click="tableDetailRowClicked(synonymdetail, $index)">
				<td><small><span ng-bind="1 + $index + currentPageForDetails*pageSize " title="{{synonymdetail.id}}" class="muted"></span></small></td>
				<!--<td><small><span ng-bind="synonymdetail.id" class="muted"></span></small></td>-->
				<td><span dir=rtl class=arabic ng-bind="synonymdetail.word"></span></td>
				<td><span ng-bind="synonymdetail.wordEn" xclass="muted"></span></td>
				<td><!--<span ng-bind="EnToAr( synonymdetail.root )" class=arabic></span>-->
					<span class="muted" ng-show="!synonymdetail.root">-</span>
					<span class="arabicsmaller" ng-show="synonymdetail.root">
					  <A HREF="http://corpus.quran.com/search.jsp?q=root:{{synonymdetail.root}}" TARGET=_>
						<span class=r0 ng-bind="EnToAr(synonymdetail.root[0])"></span>&zwnj;<span class=r1 ng-bind="EnToAr(synonymdetail.root[1])"></span>&zwnj;<span class=r2 ng-bind="EnToAr(synonymdetail.root[2])"></span>&zwnj;<span class=r3 ng-bind="EnToAr(synonymdetail.root.substring(3))"></span>
					  </A>
					</span>
				</td>
			</tr>
		  </TBODY>
	     </TABLE>
	   </div>
	</div>
	<!-- /#index2outer-->
</script>


<body ng-controller="synonymsController">
	<div class="container-fluid">
	  <div class="row-fluid">
		<div class="span3">
		  <div id='index1placeholder' class="well sidebar-nav-fixed">
			<div ng-include src="'partials/index1.html'">
			</div>
			<br/>
			<div ng-include src="'partials/index2.html'">
			</div>
		  </div>
		  <!--/.well -->
		</div> 
		<!--/.span3-->

		<div class="span9 span-fixed-sidebar">
			<div id=IE-ERRROR class="alert alert-error" style="display:none;z-index:10;">
				Note: <b>having issues using this app in Internet Explorer?</b> Please retry in Google Chrome or Firefox browser (our main test browsers). <BR/>We apologize for the inconvenience.
			</div>
			<div class="hero-unit">
				<H3>
					<span title="In the name of Allah , the Entirely Merciful, the Especially Merciful">بِسْمِ اللَّهِ الرَّحْمَٰنِ الرَّحِيمِ </span>&nbsp;&nbsp;
					<A HREF=".">Mutaradifaat al Qur’an Translation Project</A>&nbsp;&nbsp;
					<A HREF="http://linguisticmiracle.wordpress.com/2012/09/04/mutaradifaat/" TARGET="_"><i class="icon-info-sign"></i></A>
				</H3>
				<img id="banner" src="img/quransynonyms-banner.jpg"/>
			</div>
			<div class="row-fluid">
				<div class="tabbable"> <!-- Only required for left/right tabs -->
				  <ul class="nav nav-tabs">
					<li class="{{(!tab || tab==1) && 'active' || ''}}"><a href data-toggle="tab" ng:click="tab=1"><i class="icon-home"></i>&nbsp;Translation</a></li>
					<li class="{{(tab==2 && 'active') || ''}}"><a href data-toggle="tab" ng:click="tab=2; tabClick(tab);"><i class="icon-book"></i>&nbsp;Book</a></li>
					<li class="{{(tab==3 && 'active') || ''}}"><a href data-toggle="tab" ng:click="tab=3; tabClick(tab);"><i class="icon-download-alt"></i>&nbsp;PDF</a></li>
					<li class="{{(tab==4 && 'active') || ''}}"><a href data-toggle="tab" ng:click="tab=4; tabClick(tab);"><i class="icon-question-sign"></i>&nbsp;Info</a></li>
					<!--<li><B><SPAN ng-bind="{{synonymSelected.topic +' '+ synonymSelected.topicUr}}">{{synonymSelected}}&nbsp;</SPAN></B></li>-->
				  </ul>
				  <div class="Xtab-content">
					<div class="tab-pane" ng:show="!tab || tab==1" id="tab-trans">
						<div ng-view id="ng-view">
						</div>
					</div>
					<div class="tab-pane"  ng:show="tab==2" id="tab-book">
					</div>
					<div class="tab-pane"  ng:show="tab==3" id="tab-pdf">
					</div>
					<div class="tab-pane"  ng:show="tab==4" id="tab-info">
					</div>
				  </div>
				</div>
				<!-- /ng-view   colors: seashell; snow; IVORY; OLDLACE; -->

			</div>
			<!-- /row -->
		</div>
		<!-- /.span9 -->
	  </div><!--/.row-fluid-->
	</div><!--/.fluid-container-->
	<script id="info-pdf" type='text/ng-template'>
		<div class="alert alert-info">
			<B><U>Beta feature</U>: Download pages covering the synonym topic below.</B>
			NOTE: <B>may take a while for PDF to load. Please wait.</B>. or download 
			<A title="right click and save target as" href="http://archive.org/download/Mutaradifaat-ul-Quran_314/Mutaradifaat-ul-Quran.pdf" target="_blank">
				<SPAN style="color:#333399;">[<B>Full book</B>]
				</SPAN>
			</A>
			<!--<span style="color:#000000;"><strong>or Download the complete book (in Urdu):  
			<span style="color:#333399;"><a title="right click and save target as" href="http://archive.org/download/Mutaradifaat-ul-Quran_314/Mutaradifaat-ul-Quran.pdf" target="_blank"><span style="color:#333399;">Mutaraadifaat ul Qur’an -&nbsp;&nbsp;Urdu</span></a></span></strong></span>	-->
		</div>
	</script>
	
	<script id="info-template" type='text/ng-template'>
		<p>
			<img id="banner" src="img/quransynonyms-banner.jpg"/><BR/><BR/>
			For more details on the project, or to contact us <A HREF="http://linguisticmiracle.wordpress.com/2012/09/04/mutaradifaat/" TARGET=_>click here</A>.<BR/><BR/>
			You can <A HREF='https://github.com/qurandev/synonyms/archive/gh-pages.zip'>download all content</A> for offline use! <BR/>
			All the translations are stored alphabatically in Content folder.<BR/><BR/>
			Thanks to Allah swt & Jazakallah khair to all the countless volunteers without whose efforts this project wouldn't have taken off the ground.<BR/> 
			Special tip of the hat to <A HREF="http://www.linguisticmiracle.com" TARGET=_>http://www.linguisticmiracle.com/</A>.<BR/><BR/>
			Please pray that Allah swt accept these humble efforts from everyone involved. Salaam! :-D
		</p>
	</script>
	<!-- Le javascript
    ================================================== -->
  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/mapper.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/jquery-1.8.2.min.js"></script>
  <script src="js/underscore-min.js"></script>
  <script type="text/javascript">
	$(document).ready(function() {
	   if ($.browser.msie) {
		 $('#IE-ERRROR').show();// create the error box here
		 $('#IE-ERROR').attr('style', 'z-index:1!important');
	   }
	});
  </script>
</body>
</html>
