USE [Quran]
GO

/****** Object:  Table [dbo].[SynonymsDetails]    Script Date: 11/24/2012 03:37:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SynonymsDetails]') AND type in (N'U'))
DROP TABLE [dbo].[SynonymsDetails]
GO

USE [Quran]
GO

/****** Object:  Table [dbo].[SynonymsDetails]    Script Date: 11/24/2012 03:37:47 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[SynonymsDetails](
	[id] [nchar](10) NOT NULL,
	[word] [nvarchar](255) NOT NULL,
	[wordEn] [nvarchar](255) NOT NULL,
	[root] [nchar](10) NULL,
UNIQUE NONCLUSTERED 
(
	[id] ASC,
	[word] ASC,
	[wordEn] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO




USE Quran
DELETE FROM SynonymsDetails







































