USE [Quran]
GO

/****** Object:  Table [dbo].[Synonyms]    Script Date: 11/24/2012 03:26:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Synonyms]') AND type in (N'U'))
DROP TABLE [dbo].[Synonyms]
GO

USE [Quran]
GO

/****** Object:  Table [dbo].[Synonyms]    Script Date: 11/24/2012 03:26:12 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Synonyms](
	[id] [nchar](10) NOT NULL,
	[topic] [nvarchar](255) NOT NULL,
	[topicUr] [nvarchar](255) NOT NULL,
	[page] [nchar](10) NULL,
	[count] [int] NULL,
) ON [PRIMARY]

GO


USE Quran
DELETE FROM Synonyms
